* {
    box-sizing: border-box;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

body {
    /* margin:auto;  */
    margin: 10px;
    background-color: grey;
}

nav {
    background-color: black;
    color: white;
    justify-content: space-evenly;
    display: flex;
    height: 60px;
    width: 100%;
}

h1 {
    font-size: 45px;
    text-align: center;
    flex-shrink: initial;
}

#index_photo {
    
    margin-top: 40px;
    margin-left: 40px;

}

/* Create two equal columns that floats next to each other */
.div-1 {
    font-size: 30px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 30px;
}
  
  /* Clear floats after the columns
  .row:after {
    padding-top: 40px;
    content: "";
    display: table;
    clear: both;
  } */