* {
    box-sizing: border-box;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

body {
    margin:auto; 
    margin: 10px;
    background-color: grey;
}

nav {
    background-color: black;
    color: white;
    justify-content: space-evenly;
    display: flex;
    height: 60px;
    width: 100%;
}

h1 {
    font-size: 48px;
    text-align: center;
}


.box-city{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 25%;
    background-image:url(../photos/2.jpg)
}

